.lWrapper{
    margin-top:5% !important;
}

.ldivisor{
	border-top:2px solid #F0C300 !important;
}

.lBtnSearch{
	background-color: #F0C300 !important;
}

.lBtnSearch:hover .lBtnSearch:focus{
	background-color: #FFD700 !important;
	color: #FFF !important;
	border-color: #FFD700 !important;
}

.lBtn{
    margin-top:15px;
    color:#000 !important;
    background-color: #F0C300 !important;
}

.lBtn:hover{
    background-color: #FFD700 !important; 
    /* border-color: #FAB243 !important; */
}
.lBtn:focus{
    background-color: #FFD700 !important; 
    border-color: #FFD700 !important;
}

.lInput:focus{
	border-color: #FFD700 !important;
	box-shadow: none !important;
}

.lnav{
	padding-left: 20% !important;
	padding-right: 20% !important;
	padding-top: 0em;
	padding-bottom: 0em;
}

.collapse-menu{
	padding-left: 20% !important;
	padding-right: 20% !important;
	padding-top: 0em;
	padding-bottom: 0em;
	position: absolute;
}

.lnav-menu:hover #collapseExample {
  display: block;
	
}

.lnav-link{
	color: rgba(0,0,0,.7) !important;
}
.lnav-link:hover{
	color:  #f5af02 !important;
	background-color: transparent !important;
	text-decoration: underline !important;
}

.lnav-menu{
	color: #fff !important;
}


.lnav-menu:hover {
	color:  #f5af02 !important;
	border-bottom: 3px solid #f5af02;
}

.dropdown:hover>.dropdown-menu {
  display: block;
	
}

.dropdown-menu1 {
	
}

.dropdown-menu2 {
  width: 100% !important;
  min-width: 60rem;
  padding-left: 20% !important;
  padding-right: 20% !important;
	
}


.password-verdict{
color:#000;
}








/**************/
.dropdown-content {
  display: none; 
  position: absolute;
  background-color: #f9f9f9;
  width: 60%;
  left: 20%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 70rem;
  
}

.dropdown-content .header {
  background: red;
  padding: 16px;
  color: white;
}

.dropdown:hover #navbarMenuDropdown .dropdown-content {
  display: block;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .dropdown-content {
    width: 100%;
    height: auto;
  }
}
