<nav class="navbar navbar-expand-lg navbar-light lnav lnav-menu">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler2" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarToggler2">
  	<div>
  		<a class="nav-link lnav-menu-link" th:href="@{/homepage.html}" th:text="#{label.menu.home}">home</a>
  	</div>
  	<div class="dropdown">
  		<a class="nav-link lnav-menu-link" href="#" id="navbarMenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{label.menu.ticketing}"> <span>Billetterie</span></a>
  		<div class="dropdown-menu" aria-labelledby="navbarMenuDropdown">
        </div>
  	</div>
  	<div>
  		<a class="nav-link lnav-menu-link" th:href="@{/travels.html}" th:text="#{label.menu.travels}"> <span>Voyages</span></a>
  	</div>
  	<div>
  		<a class="nav-link lnav-menu-link" href="#" th:text="#{label.menu.shopping}"> <span>Shopping</span></a>
  	</div>
	<!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link lnav-menu" href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> <span>Card</span></a>
      </li>
      <li class="nav-item">
	  	<a class="nav-link lnav-menu" th:href="@{/login}" th:text="#{label.form.loginTitle}">Sign in</a>
	  </li>
	  <li class="nav-item">
        <a class="nav-link lnav-menu" th:href="@{/registration.html}" th:text="#{label.form.loginSignUp}">Sign up</a>
	  </li>
      <li class="nav-item dropdown active" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
   	</ul> -->
   	</div>
   	
   	<div class="collapse navbar-collapse js-navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="dropdown dropdown-large">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
				
				<ul class="dropdown-menu dropdown-menu-large row">
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Glyphicons</li>
							<li><a href="#">Available glyphs</a></li>
							<li class="disabled"><a href="#">How to use</a></li>
							<li><a href="#">Examples</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Dropdowns</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Aligninment options</a></li>
							<li><a href="#">Headers</a></li>
							<li><a href="#">Disabled menu items</a></li>
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Button groups</li>
							<li><a href="#">Basic example</a></li>
							<li><a href="#">Button toolbar</a></li>
							<li><a href="#">Sizing</a></li>
							<li><a href="#">Nesting</a></li>
							<li><a href="#">Vertical variation</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Button dropdowns</li>
							<li><a href="#">Single button dropdowns</a></li>
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Input groups</li>
							<li><a href="#">Basic example</a></li>
							<li><a href="#">Sizing</a></li>
							<li><a href="#">Checkboxes and radio addons</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Navs</li>
							<li><a href="#">Tabs</a></li>
							<li><a href="#">Pills</a></li>
							<li><a href="#">Justified</a></li>
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Navbar</li>
							<li><a href="#">Default navbar</a></li>
							<li><a href="#">Buttons</a></li>
							<li><a href="#">Text</a></li>
							<li><a href="#">Non-nav links</a></li>
							<li><a href="#">Component alignment</a></li>
							<li><a href="#">Fixed to top</a></li>
							<li><a href="#">Fixed to bottom</a></li>
							<li><a href="#">Static top</a></li>
							<li><a href="#">Inverted navbar</a></li>
						</ul>
					</li>
				</ul>
				
			</li>
		</ul>
		
	</div>
   	
</nav>
